<ul>
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>

<%= form_for @songs.first, url: { action: 'upload' }, html: { method: 'post' } do |f| %>
  <%= f.file_field :csv %>
  <%= f.submit "Upload songs" %>
<% end %>